div.menu-item-card {
    flex-basis: 274px;
    
}

div.menu-item-card >  img {
    border-radius: 16px 16px 0 0;
    height: 185px;
    object-fit: cover;
    background-color:#ffffff;
    width: 100%;
}

div.menu-item-card div {

    width: 100%;
}

div.menu-item-card div div:nth-child(1) {
    display: flex;
    flex-basis: 234px;
    justify-content: space-between;
}
p.description {
    height: 7em;
    padding: 0 8px; 
}

#delivery-image {
    height: 20px;
    width: 20px;
    margin-left: 16px;
}


div.menu-item-card strong {
    padding: 0 8px;
}

div.menu-item-card h3 {
    padding: 0 8px;
}