
#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 136px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    list-style-type: none;
}

#nav-bar ul li {
    padding-right: 40px;
}

#nav-bar ul li a {
    text-decoration: none;
    font-family: Karla;
    font-size: 20px;
    font-weight: 800;
    color: #333333;
}