div#rating-card {
    border: none; 
    height: 100%;
    max-width: 200px;
    padding: 0 8px;
    border-radius: 16px;
    /* margin-bottom: auto; */

}

div#rating-card p:first-of-type {
    margin-top: 0;
    padding-top: 2rem;
}

div#rating-card div.flex-container {
    align-items: center;
    justify-content: flex-start;
}
.rating-font-size {
    font-size : 14px;
}

div#rating-card img {
    object-fit : cover;
    border-radius: 4px;
}