div#rating-card {
    border: none; 
    height: 100%;
    max-width: 200px;
    /* margin-bottom: auto; */

}

div#rating-card p:first-child {
    margin-top: 0;
    padding-top: 8px;
}

div#rating-card div.flex-container {
    align-items: center;
    justify-content: flex-start;
}
.rating-font-size {
    font-size : 14px;
}