@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Markazi Text');


main {
  margin: 0 auto;
  background-color: #ffffff;
}


h1 {
  border: 3px solid blue;
  font-family: "Markazi Text";
  font-size: 64px;
}


@media screen and (max-width: 430px) {
  h1 {
    border: 3px solid red;
    font-family: "Markazi Text";
    font-size: 56px;
  }
}

h2 {
  font-family: Markazi;
  font-size: 40px;
}

p {
  font-family: Karla;
  font-weight: 500;
}
.highlight-color-black-text {
  color:#333333;
}

.highlignt-color-off-white {
 /* background-color: #edefee; */
  background-color: #edefee;
}

.highlight-color-off-white-text {
  color: #edefee;
}

.highlight-color-off-white {
  background-color: #edefee;
}

.secondary-color-dark-tan {
  background-color: #ee9972;
}
.secondary-color-dark-tan-text {
  color: #ee9972;
}

.primary-color-green {
  background-color: #495e57;
}

.primary-color-black-text {
  color: #333333;
}

.primary-color-yellow {
  background-color: #F4CE14;
}

.primary-color-yellow-text {
  color: #F4CE14;
}





.grid-wrapper {
  /* max-width: 1440px; */
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .grid-wrapper {
    max-width: 1300px;
    margin: 0 70px;
    height: 100%;
  }
}

@media screen and (max-width: 430px) {
  grid-wrapper {
    max-width: 430px; 
    margin: 0 20px;
    height: 100%;
  }
}

.grid-container {
  display: grid;
    /* max-width: 1440px; */
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .grid-container {
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
  }
}

@media screen and (max-width: 430px) {
  .grid-container {
    display: grid;
    max-width: 430px;
    margin: 0 16px;
    height: 100%;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.flex-container {
  display: flex;
  column-gap: 20px;
}